$background-color: #121212;
$blue-color-1: #53aaf9;
$blue-color-2: #1d59b9;
$black_01dp: #1d1d1d;
$black_02dp: #212121;
$black_03dp: #242424;
$black_04dp: #272727;
$black_06dp: #2c2c2c;
$black_12dp: #2d2d2d;
$black_16dp: #353535;
$black_24dp: #373737;

body {
    background-color: $background-color;
}

#principal{
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    img{
        width: 100px;
        padding: 0;
        animation: App-logo-spin infinite 20s linear;
    }

    @keyframes App-logo-spin {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
      }
}