#Contact_Page{
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;

    .list-contact{
        background-color: rgba(#121212, $alpha: 0.7);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(18px);
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 24px;
        color: white;
        .title{
            color: #F2B05E;
        }
        .direccion,.Horarios{
            .title{

                font-size: 18px;
                font-weight: 700;
                display: flex;
                flex-direction: column;
                gap: 12px;
            }
        }
        .Redes{
            display: flex;
            flex-direction: column;
            gap: 6px;
            .red{
                ion-icon{
                    font-size: 24px;
                }
                a{
                    color: #F2B05E;
                }
                display: flex;
                flex-direction: row;
                gap: 12px;
                align-items: center;
            }
            .title{
                font-size: 18px;
                font-weight: 700;
                display: flex;
                flex-direction: column;
                gap: 12px;
            } 
        }
        .Data{
            display: flex;
            flex-direction: column;
            gap: 6px;
            .title{
                font-size: 18px;
                font-weight: 700;
                display: flex;
                flex-direction: column;
                gap: 12px;
            }
            span{
                display: flex;
                flex-direction: row;
                gap: 12px;
                font-size: 16px;
                font-weight: 500;
                span{
                    font-size: 16px;
                    font-weight: 400;
                }
            }
        }
    }
}