$background-color: #121212;

#bg_wallpaper {
    width: 100%;
    height: 100vh;
    margin: 0;
    background-size: cover;
    background-position-y: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;

    div {
        width: 100%;
        height: 100%;
        background-color: $background-color;
        opacity: 0.0;
    }
}

#home_page {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;

    .title_container {
        background-color: rgba($background-color, $alpha: 0.7);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(18px);
        -webkit-backdrop-filter: blur(6.5px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 24px;
        font-family: 'Inter', sans-serif;
        padding: 24px;
        position: relative;

        @media only screen and (max-width: 444px) {

            .title_1 { 
               font-size: 314%!important; 
            }
         
         }
        .title_1{
            font-size: 64px;
            font-weight: 700;
            line-height: 1.2;
            color: white;
        }
        .subt_1{
            color: white;
            opacity: 0.5;
        }

        .COA_Button{
            position: relative;
            top: 40px;
            cursor: pointer;
            padding: 12px 24px;
            background-color: #A6610D;
            border-radius: 12px;
            color: white;
            width: fit-content;
            transition: 0.5s;

        }

        .COA_Button:hover{
            background-color: #F2B05E;
            transition: 0.5s;
        }

        
    }
}